/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 


.article {
	background-color: lime;
	padding: 5em;

}

.form {
	margin-left: 5em;
	text-align: center;	
}

.comment {
	border: 1px dotted black;
}

.container {
	padding-top: 3em;
	padding-right:7em;
	padding-left:7em;
	margin-right: 5em;
	margin-left: 5em;
}

.title{
	margin-top: 0;
	padding-bottom: 0.5em;
	font-weight: 600;
}

.author {
	text-align: left;
}

.body {
	font-size: 2em;
}

header {
	background-color: black;
	height: 3em;
	top: 0;
}*/

header {
	background-color: black;
	height: 5em;
	padding: 0.5em;
	color: white;
}

header h1{

}

header a{
	color: white;
	text-decoration: none;
}

ul{
	/*margin-top: 0;*/
	display: inline-block;
	float: right;
	padding-top: 1em;
}

tr{

	background-color: rgb(192, 179, 179);
	border: 1px solid black;

	height: 10em;
}

td{
	display: inline;
}


form {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin:auto;
position:relative;
width:550px;
height:450px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input{
width:375px;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.container{
	padding:5em;
	display: inline-block;
}


li {
	display: inline-block;
	vertical-align: center;
}